@import '@fontsource/averia-libre';
@import '@fontsource/averia-sans-libre';
@import '@fontsource/averia-serif-libre';
@import '@fontsource/hanken-grotesk/300.css';
@import '@fontsource/fira-code/300.css';
@import '@fontsource/solway/400.css';

@font-face {
  font-family: 'Redacted Script';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(@fontsource/redacted-script/files/redacted-script-latin-400-normal.woff2) format('woff2'), url(@fontsource/redacted-script/files/redacted-script-latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* reset CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* font size */
html {
	font-size: 16px;
}

/* variables */
:root {
	--body-bg: #151515;
	--accent: hsl(140, 84%, 80%);
	--accent-dim: hsl(180, 59%, 40%);
	--outline: #696969;
	--bg: #1e2024;
	--font-dim: #393e46;
	--font-color: #7c7c7c;
	--contrast: hsl(0, 0%, 90%);
	--font-ui: 'Averia Libre', sans-serif;
	--font-read: 'Hanken Grotesk', serif;
	--line-height: 1;
	--font-size: 1rem;
}

/* Light mode theme toggle variables and styles */
[data-theme='light'] {
	--body-bg: hsl(15, 20%, 93.5%);
	--accent: hsl(200, 100%, 40%);
	--accent-dim: hsl(215, 59%, 40%);
	--outline: hsl(0, 0%, 50%);
	--bg: hsl(0, 0%, 100%);
	--font-dim: hsl(0, 0%, 65%);
	--font-color: hsl(0, 0%, 65%);
	--contrast: hsl(220, 5%, 20%);
	--font-ui: 'Averia Serif Libre', serif;
	--font-read: 'Solway', serif;
	--line-height: 1.1;
	--font-size: 0.91rem;
}
#theme-toggler {
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	margin: 0 1rem;
}
#theme-toggler button {
	display: flex;
	cursor: pointer;
	font-size: 1.5rem;
	background: none;
	border: none;
	color: var(--font-color);
	justify-content: center;
	align-items: center;
	transition: color 0.3s;
}
#theme-toggler button:hover {
	color: var(--accent);
}
#dark {
	display: none;
}
[data-theme='light'] #light {
	display: none;
}
[data-theme='light'] #dark {
	display: block;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	align-items: center;
	background: var(--body-bg) center center/cover no-repeat;
}

main {
	width: 100%;
	flex: 1 0 auto;
}

p {
	font-size: var(--font-size);
	color: var(--contrast);
	font-family: var(--font-read);
}

h2 {
	font-size: calc(var(--font-size) * 1.2);
	font-family: var(--font-ui);
	color: var(--contrast);
}

footer {
	width: 100%;
	margin-top: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	user-select: none;
	text-align: center;
	padding: 1rem;
}
footer p {
	font-family: var(--font-ui);
	color: var(--contrast);
	transition: color 0.3s;
}

footer a {
	display: flex;
	font-family: var(--font-ui);
	color: orange;
	text-decoration: none;
	transition: color 0.3s;
}
footer a:hover {
	color: yellow;
}

@media (max-width: 768px) {
	footer {
		gap: 0.5rem;
	}
	#theme-toggler {
		margin: 0;
		position: fixed;
		top: 0.55rem;
		right: 0.5rem;
	}
}

.fira-code-normal {
	font-family: 'Fira Code', monospace;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

/* UI elements */
button.primary {
	font-family: var(--font-ui);
	font-size: 1rem;
	background: linear-gradient(25deg, var(--body-bg), var(--bg));
	color: var(--contrast);
	border: 1px solid var(--outline);
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	cursor: pointer;
}
button.primary:hover {
	color: var(--accent);
	border: 1px solid var(--accent);
}
button.primary:disabled {
	border: 1px solid var(--font-dim);
	background: var(--bg);
	color: var(--font-dim);
	cursor: not-allowed;
}

button.icon-btn {
	font-family: var(--font-ui);
	font-size: 1.25rem;
	background: none;
	color: var(--font-color);
	border: none;
	cursor: pointer;
	padding: 0.25rem;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: color 0.3s;
}
button.icon-btn:hover {
	color: var(--accent);
}
button.icon-btn:disabled {
	color: var(--font-dim);
	cursor: not-allowed;
}